# PostgreSQL
POSTGRES_DB=Database
POSTGRES_USER=User
POSTGRES_PASSWORD=Password
POSTGRES_PORT=Port

JWT_SECRET=muttley-dev-secret-change-in-production
JWT_EXPIRATION=86400000

# AWS S3 signature images
AWS_S3_BUCKET=your-bucket-name
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_S3_ENDPOINT=endpoint
AWS_S3_PUBLIC_BASE_URL=public_url


APP_PUBLIC_BASE_URL=http://link.com